body {
	margin: 15%;
	font-family: "Quicksand", sans-serif;
	padding-top: 5%;
}

.container-fluid {
		background-color: white;
}


/*menù*/
header { 
	background-color: #B5A391;
}

.navbar-toggler {

    padding: 0.25rem 0.75rem;

    font-size: 1.25rem;

    line-height: 1;

    background-color: transparent;

    border: 1px solid white !important;

    border-radius: 0.25rem
}

span .navbar-toggler-icon {
    display: inline-block;

    width: 1.5em;

    height: 1.5em;

    vertical-align: middle;

    content-color: white !important;

    background: no-repeat center center;

    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav ul li {
	display: inline-block; 
	padding: 8px; /*per dare un pò di margine agli elementi del menu*/
	text-transform: uppercase; /*per rendere i caratteri del menu maiuscoli*/
}

nav ul li a {
	text-decoration: none;
	color: white;
} 

nav ul li a:hover {
   text-decoration: none;
   color: #654321;
}

/* Stile per il link di Home quando è attivo o visitato */
.nav-link.active,
.nav-link.home-link:visited {
  color: #654321; /* Colore quando il link è attivo o visitato */
}

/*fine menù*/


/*carosello*/
#carouselExampleIndicators {
    margin: auto; /* Imposta i margini su 'auto' per centrare orizzontalmente */
    width: 100%; /* Puoi regolare la larghezza in base alle tue esigenze */
    text-align: center; 
}

#carouselExampleIndicators1 {
    margin: auto; /* Imposta i margini su 'auto' per centrare orizzontalmente */
    width: 60%; /* Puoi regolare la larghezza in base alle tue esigenze */
    text-align: center; 
}

.carousel-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.3rem;
}

.carousel-item {
    display: flex;
    justify-content: center;
}
/*fine carosello*/


/*parte introduttiva*/
section .morespace {
	padding: 1% auto;
}

section h1 { 
	font-family: "Quicksand", sans-serif;
	color: #654321;
	text-align: center;
	margin: 2%;
}

section div .btn {
	color: #654321;
	border-radius: ;

    border: 1px solid;
}

section .container {
	padding: 100em auto;
}

div.mycontainer {
  	width: 50%;
  	float: left;
}
div.mycontainer div {
  	width: 100%;  
  	float: right;
}
/*fine parte introduttiva*/


/*container*/
div {
	display: block;
}

section.jumbotron {
	background-color: rgba(103, 63, 12, 0.17)!important;
	padding: 2rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.dipiu {
	padding: 0 10%;
	text-align: center;
	font-family: "Quicksand", sans-serif;

}

div .row {

    display: flex;

    flex-wrap: wrap;

    margin-right: -15px;

    margin-left: -15px;
}

div.album.py-5.bg-light {
    background-color: rgba(103, 63, 12, 0.17)!important;
    border-radius: 0.3rem;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.mb-4, .my-4 {

    margin-bottom: 1.5rem!important;

}

.shadow-sm {

    box-shadow: 0 .125rem .25rem rgba(0,0,0,1)!important;

}

.card {

    position: relative;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-direction: column;

    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    background-color: #fff;

    background-clip: border-box;

    border: 1px solid rgba(0,0,0,.125);

    border-radius: .25rem;
}

.align-items-center {

    align-items: center!important;

}

.justify-content-between {

    justify-content: space-between!important;

}

.d-flex {

    display: flex!important;
}

div.container {
	font-family: "Quicksand", sans-serif;
	max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/*fine container*/


footer.py-5 {
	text-align: center!important;
	padding: 1 0 0 0 !important;
}

div.h-100 {
	border-radius: 0.3rem;
}

div.p-5 {
	padding-left: 6 2 2 2rem !important;
	font-family: "Quicksand", sans-serif;
}

div.marketing {
	margin-top: 6rem;
	font-family: "Quicksand", sans-serif;
}

div.eventi {
	font-family: "Quicksand", sans-serif;
	color: #654321;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 0.3rem;
}

img.img {
	border-radius: 0.3rem;
}

.img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.img:hover {
  opacity: 1;
}

section .py-5 {
    font-family: "Quicksand", sans-serif !important;
    color: #654321; 
}

.img-doc {
    max-width: 50% !important;
}